* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #181818; dark-mode*/
    background-color: #e2e0e0;
    font-family: Poppins, Arial, sans-serif;
    color: black;
    padding: 20px;
    user-select: none;
}

.title {
    text-align: left;
    font-size: 20px;
    /* color: #ccc; dark-mode*/
    color: white;
    background-color: #0C2D48;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.game-container {
    display: block;
    margin: 20px auto;
    padding: 20px;
    max-width: 700px;
    /* border: 1px solid #ccc; */
    border-radius: 7px;
    /* background-color: #3d3d3d; dark-mode*/
    background-color: #f5f5f5;
}
#toggleOn {
    display: block;
}
#toggleOff {
    display: none;
}
.modesBtn {
    float: right;
    font-size: 20px;
    padding: 5px 13px;
    border: none;
    background-color: transparent;
    color: white;
    transition: .15s;
    cursor: pointer;
}

.modesBtn:hover {
    color: #99a5fa;
}

.subject-title {
    /* color: white; dark-mode*/
    color: black;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #ccc;
}

.question {
    margin: 20px 0 0 0;
}

.question h4 {
    color: black;
    margin: 0 0 15px 0;
    font-weight: 500;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.picture-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px;
    padding: 0 50px;
    /* width: 300px; */
}

.picture-container>div {
    max-width: 300px;
    max-height: 300px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #aaaaaa;
}

.answers-container {
    margin-top: 15px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    list-style-type: none;
    font-size: .8em;
    border: 1px solid #aaaaaa;
    border-radius: 7px;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    transition: .45s;
    /* background-color: #212121; dark-mode*/
    background-color: #e2e0e0;
}

li:hover {
    background-color: #aaaaaa;
    font-weight: 500;
    cursor: pointer;
}

.btn-container {
    text-align: right;
    padding-top: 10px;
}

.rst-btn {
    padding: 7px 12px;
    border-radius: 7px;
    border: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background-color: #1e6dce;
    color: #fefefe;
}

.dialog {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e0e0;
    color: #333;
}

.dialog-container {
    position: relative;
    background: #fefefe;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    padding: 20px;
    max-width: 500px;
    flex: 1;
    width: 0;
    margin: 0 20px;
}

.dialog-content {
    margin: 10px 0px 0px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.game-title {
    font-size: 34px;
    background-color: #0C2D48;
    border-radius: 5px;
    color: #fefefe;
    margin-bottom: 10px;
    text-align: center;
}

.welcome-dialog {
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.input-label {
    font-size: 18px;
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.input-name:not(:placeholder-shown)+.fa-xmark {
    opacity: 1;
    pointer-events: auto;
}

.dialog-content label span {
    color: red;
}

.input-name {
    font-family: Poppins, Arial;
    flex: 1;
    max-width: 100%;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px 25px 10px 10px;
    caret-color: #1e6dce;
    transition: .15s;
    margin-top: 5px;
}

.input-name::placeholder {
    font-size: 16px;
}

.input-name:focus {
    outline: none;
    border: 1px solid #1e6dce;
}

.fa-xmark {
    position: absolute;
    right: 0;
    top: 12px;
    font-size: 14px;
    padding: 10px;
    transition: .15s;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
}

.fa-xmark:hover {
    text-shadow: 0 0 2px black;
}

.error {
    /* position: absolute; */
    bottom: -22px;
    font-size: 14px;
    display: none;
    color: red;
    font-weight: lighter;
    transition: .15s;
}

.btn-container {
    text-align: right;
    padding-top: 10px;
}

.dialog-action {
    margin: 10px 0px 0px 0px;
    display: flex;
}

.startBtn {
    font-family: Poppins, Arial;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-color: #0C2D48;
    color: #fefefe;
    transition: .15s;
    flex: 1;
    cursor: pointer;
}

.startBtn:hover {
    background-color: #145DA0;
}

.rst-btn {
    padding: 10px 30px;
    border-radius: 7px;
    border: none;
    background-color: #0C2D48;
    color: #fefefe;
    cursor: pointer;
}

.drag-container {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px 0;
    transition: .15s;
    flex-wrap: wrap;
    width: 100%;
}

.drag-item {
    text-align: center;
    transition: .15s;
    flex: 1;
    border: 1px solid #1e6dce;
    border-radius: 7px;
    width: 0;
    min-width: 30px;
    font-size: 40px;
    transition: .15s;
    /* padding: 5px; */
    background-color: #1e6dce;
    color: white;
}

.drag-item:hover {
    background-color: #17529b;
}

.drag-item p {
    border-radius: 7px;
}

.preview-answer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    transition: .15s;
}

.preview-error p {
    display: none;
    text-align: center;
    color: red;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.clear-btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.guess-btn {
    font-family: Poppins, Arial;
    flex: 1;
    padding: 10px 30px;
    border-radius: 7px;
    border: none;
    background-color: #238317;
    color: #fefefe;
    transition: .15s;
    cursor: pointer;
}

.guess-btn:hover {
    background-color: #0e3309;
}

.clear-btn {
    font-family: Poppins, Arial;
    flex: 1;
    padding: 10px 30px;
    border-radius: 7px;
    border: none;
    background-color: #831717;
    color: #fefefe;
    transition: .15s;
    cursor: pointer;
}

.clear-btn:hover {
    background-color: #410b0b;
}


/* Leaderboard */

.leaderboard-container {
    /* background-color: #3d3d3d; dark-mode*/
    background-color: #f5f5f5;
    padding: 20px;
    margin: 0 auto;
    max-width: 700px;
    min-width: 300px;
    border-radius: 7px;
    display: none;
}

.leaderboard-header {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.game-name {
    font-size: 17px;
    /* color: #ccc; dark-mode*/
    color: #333;
    font-weight: 600;
}

.leaderboard-title {
    font-size: 22px;
    color: black;
    font-weight: 700;
}

.leaderboard-contents {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first-place {
    /* background-color: #212121; dark-mode*/
    background-color: #e2e0e0;
    padding: 20px 40px;
    border-radius: 15px;
    text-align: center;
}

.first-place-number {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
}

.first-place-img-container {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}

.first-place-img-container img {
    width: 25%;
}

.first-place-img-container i {
    color: gold;
    font-size: 40px;
    /* transform: rotate(40deg); */
}

.first-place-name {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}

.first-place-score span {
    font-weight: 500;
}

.remaining-place {
    /* background-color: #212121; dark-mode*/
    background-color: #e2e0e0;
    padding: 10px 40px;
    border-radius: 15px;
    text-align: center;
}

.remaining-place-number {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 16px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
}

.remaining-place-img-container {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}

.remaining-place-img-container img {
    width: 18%;
}

.remaining-place-name {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
}

.remaining-place-score {
    font-size: 14px;
}

.remaining-place-score span {
    font-size: 14px;
    font-weight: 500;
}

#toggleOff {
    display: none;
}


/* End of Leaderboard */

footer {
    margin-top: 20px;
    text-align: center;
    font-size: smaller;
    color: #aaa;
}

@media screen and (max-width: 768px) {
    .drag-item p {
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .drag-item p {
        font-size: 25px;
    }
}

@media screen and (max-width: 500px) {
    .drag-item p {
        font-size: 20px;
    }
}